/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

aside {
    flex: 1;
    margin-right: 40px;
}

aside h3 {
    font-size: 2px;
    line-height: 34px;
    margin-bottom: 8px;
    justify-content: center;

}

h3 {


    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


nav ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav li {

    line-height: 18px;
    margin-bottom: 12px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000;
}

main {
    flex: 2;
}

section#intro h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    aside {
        margin-right: 0;
        margin-bottom: 20px;
    }

    footer {
        position: relative;
    }
}

#logo {

    margin-bottom: 20px;
    letter-spacing: -1px;
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 2px;
    padding: 2px;
    border: 2px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#foot {

    padding-bottom: 10%;

}